/* ================================================================== *\
   Development Styles
\* ================================================================== */

/* Show colour bar
---------------------------------------------------------- */

$primary: $cs-primary;
$second: shade($primary, 20);
$third: shade($primary, 40);

@include cs-test( $primary $second $third );

/* Breakpoints
---------------------------------------------------------- */



/* Other
---------------------------------------------------------- */

.cardFilters {
  //	background: pink;
}

.cardLogo {
  a {
    background: $gray-light;
    &:hover {
      background: cyan;
    }
  }
}

.content {
  &.charityPage {
    background: cyan;

    header {
      background: yellow;
    }

    aside {
      background: lime;
    }

    section {
      background: violet;
    }

    .vcard {
      background: orange;
    }
  }
  .coverImages {
    background: blue;
  }
  .coverSummary {
    background: green;
    min-height: 50px;
  }
}

.coverImages {
  .images {
    background: pink;
  }
}

.sbRight {
  background: pink;
  height: 500px;
}

/* Colors
---------------------------------------------------------- */

.three-cols,
.side-left {
  //	background: cyan;
}

.three-cols .col-mid,
.side-right > .col-right,
.side-left > .col-left {
  //	background: yellow;
}

.three-cols .col-right,
.side-right {
  //	background: lime;
}

.wrapper header {
  //	background: orange;
}

.summary,
.vcard,
.body {
  //	background: tomato;
}

.widget {
  //	background: violet;
}
ss